
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="MarcoMarson">
    <title>Painel de Controle- MAM - UEPG</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
</head>
<body id="app-layout">

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header text-center">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="">
                        Painel de Controle - MAM

                </div>
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-edit"></i> Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=""{{ url_for('register') }}""><i class="fa fa-btn fa-edit"></i>Inscrição</a>
                            </li>
                            <li>
                                <a href=""{{ url_for('report') }}""><i class="fa fa-fw fa-bar-chart-o"></i>Relatórios</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <footer>
                  <div class="navbar navbar-default navbar-fixed-bottom text-center">
                    <div class="row">
                        <span class="copyright">
                          <p class='text-center'>
                            Desenvolvimento:Marco Marson
                               &nbsp;&nbsp;<a href="http://www.uepg.br/"></a>&nbsp;&nbsp; &copy; &nbsp;&nbsp;
                            </ul>
                          </p>
                        </span>
                    </div>
                  </div>
                </footer>
            </div>

        </nav>

        {% block body %}{% endblock %}
    </div>


        <!-- JavaScripts -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        </script>
        </script>

</body>
</html>
