{% extends "layout.html" %}
{% block body %}
<div class="container col-md-12">
  <h2 style= "color:#E57C00; font-size:22px" class="col-md-4 col-md-offset-2">Modify MAM</h2>
  <table class="table table-striped">
    <thead>
      <td><h2 style= "color:#E57C00; font-size:22px">Nome</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">Apartamento</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">Email</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">Editar</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">Deletar</h2></td>
    </thead>
    <tbody>
      {% for x in people  %}
      <tr>
      <td><h2 style= "color:#E57C00; font-size:22px">{{ x['name'] }}</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">{{ x['apartamento'] }}</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">{{ x['email'] }}</h2></td>
      <td><a href="modifica/{{ x['_id'] }}"><h2 style= "color:#E57C00; font-size:22px">Editar</h2></a></td>
      <td><a href="remove/{{ x['_id'] }}"><h2 style= "color:#E57C00; font-size:22px">Remover</h2></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
