{% extends "layout.html" %}
{% block body %}
<div class="container col-md-12">
  <h2 style= "color:#E57C00; font-size:22px; text-align:center" align="center" >RFID MAM</h2>
  <table class="table table-striped">
    <thead>
      <td><h2 style= "color:#E57C00; font-size:22px">RFID</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">Horário</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">Ação</h2></td>
    </thead>
    <tbody>
      {% for x in rfid  %}
      <tr>
      <td><h2 style= "color:#E57C00; font-size:22px">{{ x['rfid'] }}</h2></td>
      <td><h2 style= "color:#E57C00; font-size:22px">{{ trocadata(x['data']) }}</h2></td>
      <td><a href="vincula/{{ x['_id'] }}"><h2 style= "color:#E57C00; font-size:22px">Vincular</h2></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
